
train.csv
titanic.zip
test.csv
Practica2-Classificacio2022GEI.ipynb
images/table_1.png
gender_submission.csv
.ipynb_checkpoints/Practica2-Classificacio2022GEI-checkpoint.ipynb
.ipynb_checkpoints/Practica2-Classificacio-checkpoint.ipynb
